body{
    background:linear-gradient(45deg, #F78764, #C8AB83);
}

#score{
    font-size: 25px;
    margin-left: 20px;
    float: left;
}

#time{
    font-size: 25px;
    margin-right: 20px;
    float: right;
}

#sketch_name{
    color: #392A16;
    font-size:35px;
}

#label,#confidence{
    font-size:30px;
}